<app-navbar></app-navbar>
<div class="contact-cta-section">
  <div class="content-container">
    <p class="sub-heading">LET'S MEET TODAY.</p>
    <h1 class="main-heading">
      Contact us or<br />
      schedule a visit to us today.
    </h1>
    <div class="separator"></div>
  </div>
</div>
<!--Contact form-->
<div class="contact-info-form-section">
  
  <div class="info-details-column">
    <p class="section-title">GET IN TOUCH WITH US</p>
    <h2 class="section-heading">
       Access liquidity seamlessly,<br />
without ever compromising your long-term dreams.
    </h2>
    <div class="separator gold-line"></div>
    
    <p class="description-text">
      At Carthage, we simplify your saving and optimize your investing. We empower our members to save 
consistently while earning strong, reliable returns on their investments.
    </p>
    
    <div class="contact-item">
      <span class="icon-circle"><i class="fas fa-map-marker-alt"></i></span>
      <div>
        <h4 class="item-label">Address</h4>
        <p class="item-value">P.O BOX 720292780-00100</p>
        <p class="item-value">Ruai, Nairobi</p>
      </div>
    </div>
    
    <div class="contact-item">
      <span class="icon-circle"><i class="fas fa-phone"></i></span>
      <div>
        <h4 class="item-label">Phone</h4>
        <p class="item-value">0111409930</p>
      </div>
    </div>
    
    <div class="contact-item">
      <span class="icon-circle"><i class="fas fa-envelope"></i></span>
      <div>
        <h4 class="item-label">Email</h4>
        <p class="item-value">cathagesociety@gmail.com</p>
      </div>
    </div>
  </div>
  
  <div class="schedule-form-column">
    <form class="schedule-form">
      <div class="form-grid">
        <input type="text" placeholder="Your Name..." class="form-input">
        <input type="email" placeholder="Your Email..." class="form-input">
        <input type="tel" placeholder="Your Phone..." class="form-input">
        <!-- <select class="form-input">
          <option value="" disabled selected>1 People</option>
          <option value="2">2 People</option>
          </select> -->
        <!-- <input type="text" placeholder="8.00 AM - 8.00 PM" class="form-input">
        <input type="text" placeholder="20 July 2019" class="form-input"> -->
        <textarea placeholder="Your Note..." class="form-input full-width-note"></textarea>
      </div>
      
      <button type="submit" class="schedule-button">SCHEDULE A VISIT</button>
    </form>
  </div>
</div>
<app-footer></app-footer>
