<app-navbar></app-navbar>
<!--About intro-->
<div class="about-hero-section">
  <div class="content-container">
    <p class="sub-heading">ABOUT OUR SOCIETY.</p>
    <h1 class="main-heading">
      Our Goals<br />
      Mission, Vision & <br/>
      our Core Values.
    </h1>
    <div class="separator"></div>
  </div>
  </div>
  <!--Mission,Vision & Goals-->
  <section class="mission-vision-section">
    <div class="header-text-column">
      <p class="section-tag">OUR GOALS,VISION & MISSION</p>
          </div>

  <div class="content-grid">
    
    <div class="story-card card">
      <div class="overlay">
        <h3 class="card-title">Strategic Goals</h3>
        <br>
        <h4>"Sustain Wealth Creation"</h4>
        <!-- <p class="card-description-goals">
          Grow and manage high-quality, income-generating assets that deliver fair,consistent, and sustainable returns.
        </p> -->
        <br>
        <h4>"Empower Ownership"</h4>
        <!-- <p class="card-description-goals">
          Provide bespoke, affordable mortgage solutions that transform aspirations into lifelong legacies
        </p> -->
        <br>
       <h4>"Safeguard Prosperity"</h4>
        <!-- <p class="card-description-goals">
          Offer robust insurance and risk management solutions to protect members’ wealth, families, and future goals.
        </p> -->
      </div>
      <img src="/images/ab1.png" alt="Team meeting" class="story-image">
    </div>

    <div class="mission-card card light-green-bg">
      <h3 class="card-title">Our Vision</h3>
      <h4>"Rising Together Toward Prosperity."</h4>
      <p class="card-description">
      We envision a financially empowered community where every member and their family ascend together — 
      achieving true financial freedom and lasting generational wealth.
      </p>
    </div>

    <div class="vision-card card dark-green-bg">
      <h3 class="card-title">Our Mission</h3>
      <h4>"Securing Futures, Building Legacies."</h4>
      <br>
      <p class="card-description-mission">
      Our mission is to strengthen our members’ financial well-being through accessible homeownership, 
      sustainable investment opportunities, and integrated financial solutions that create enduring prosperity and 
      peace of mind
      </p>
    </div>
    
  </div>
</section>
  <!--Values Section-->
  <section class="values-guide-section">
  <div class="header-container">
    <h2 class="main-title">Core Values</h2>
    <h3>"Our Foundation for Excellence"</h3>
    <div class="title-underline"></div>
    <p class="intro-text">
    Our investment approach is grounded in disciplined, long-term value creation. We seek to acquire high
quality businesses—both locally and internationally—at fair valuations and hold them for sustained growth 
and stable returns. This strategy allows us to benefit from the power of compounding while maintaining a 
conservative risk profile
    </p>
  </div>

  <div class="values-grid-wrapper">
    
    <div class="value-card">
      <div class="icon-header">
        <i class="fa-solid fa-shield-halved"></i> <span class="category">INTEGITY</span>
      </div>
      <p class="card-description">
       We uphold the highest standards of honesty, transparency, and trust.
      </p>
    </div>

    <div class="value-card">
      <div class="icon-header">
        <i class="fa-solid fa-user-group"></i> <span class="category">MEMBER-CENTRICITY</span>
      </div>
        <p class="card-description">
         Our members are at the heart of every decision we make.
      </p>
    </div>

    <div class="value-card">
      <div class="icon-header">
        <i class="fa-solid fa-handshake"></i><span class="category">COLLABORATION</span>
      </div>
      <p class="card-description">
      Together, we achieve more through unity and shared purpose
      </p>
    </div>

    <div class="value-card">
      <div class="icon-header">
        <i class="fa-solid fa-ranking-star"></i><span class="category">MERITOCRACY</span>
      </div>
      <p class="card-description">
      We reward excellence, fairness, and performance-driven growth.
      </p>
    </div>

    <div class="value-card">
      <div class="icon-header">
  <i class="fa-solid fa-briefcase"></i><span class="category">PROFESSIONALISM</span>
      </div>
      <p class="card-description">
       We deliver with precision, respect, and unwavering excellence.
      </p>
    </div>
    
     <div class="value-card">
      <div class="icon-header">
  <i class="fa-solid fa-lightbulb"></i>
<span class="category">INNOVATION</span>
      </div>
      <p class="card-description">
      We embrace forward-thinking ideas to stay ahead of tomorrow’s needs.
      </p>
    </div>

       <div class="value-card">
      <div class="icon-header">
  <i class="fa-solid fa-people-arrows"></i>
<span class="category">INCLUSIVITY</span>
      </div>
      <p class="card-description">
      We champion shared prosperity through participatory leadership and open opportunity.
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
