<app-navbar></app-navbar>
<!--Products Intro-->
<div class="about-hero-section">
  <div class="content-container">
    <p class="sub-heading">PRODUCTS</p>
    <h1 class="main-heading">
      Companies &<br />
      Organization Products.
    </h1>
    <div class="separator"></div>
  </div>
  </div>
  <!--Organization explanation-->
<section class="org-section">
  <div class="container">
    <h2>Organizations</h2>

    <p>
      We encourage organizations to empower their teams to build long-term financial security.
      Employees are motivated to save at least the equivalent of their NSSF contribution, with the
      flexibility to contribute even more for greater long-term returns.
    </p>

    <p>
      This simple and structured approach promotes financial wellness, boosts employee confidence,
      and strengthens overall loyalty within the organization.
    </p>
  </div>
</section>

  <app-footer></app-footer>
